* {
  text-align: center; 
}

p {
  padding-right: 50px; 
  padding-left: 50px; 
}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}

p {
  font-family:  "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
body {
  background-image: url("background.png")
}

.wrapper {
  padding-top: 20%;
}