* {
  text-align: center; 
}

p {
  padding-right: 30%; 
  padding-left: 30%; 
}

img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}

p {
  font-family:  "Comic Sans MS", "Comic Sans";
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans";
  src: url("comic-sans-ms/comici.ttf");
}

.wrapper {
  padding-top: 20px
}